<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>normal computting</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap/style.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/biaoZhunZhi.css" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="javascripts/jquery.js"></script>
    <script type="text/javascript" src="javascripts/jquery-ui.js"></script>
    <script type="text/javascript" src="javascripts/jquery.blockUI.js"></script>
    <script type="text/javascript" src="javascripts/underscore.js"></script>
    <script type="text/javascript" src="javascripts/jsv.js"></script>
    <script type="text/javascript" src="javascripts/jsonform.js"></script>
    <script src="javascripts/ele2.js"></script>
    <script src="javascripts/matrixLocalStorageHandle.js"></script>
    <script src="javascripts/normalComputing.js"></script>
    <script src="javascripts/submitMath2Server.js"></script>
  </head>
  <body>
    <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
    <div class="row">
      <div class="col-xs-4 col-md-4">
        <div id="target_variable"> target variable: </div>
        <textarea class="col-xs-12"  rows="1" name="textarea" id="targetVar" placeholder="Text Area"></textarea>
        <div id="colNameList">Source data: <br> </div>
      </div>
      
      <div class="col-xs-1 col-md-1">
        <div id="equal"> = <br>
        </div>
        <!--               <div id="selectSrcButton" >
          <button type="button" class="btn btn-default"> > </button>
        </div> -->
      </div>
      <div class="col-xs-7 col-md-7">
        <div id = "numericExpressions_title"> nemericExpressions: <br>
          <textarea class="col-xs-12" rows="5" class="medium" name="textarea" id="numericExpressions" placeholder="Text Area"></textarea>
        </div>
        <div class="row spacer">
          <div class="span4">.</div>
        </div>
        <div class="col-md-6 column">
          <div class="row clearfix">
            <div class="btn-group">
              <button class="btn btn-default" type="button" onclick="modifyExpression('+')">+</button>
              <button onclick="modifyExpression('<')" class="btn btn-default" type="button"><</button>
              <button onclick="modifyExpression('>')" class="btn btn-default" type="button">></button>
              <button onclick="modifyExpression('7')" class="btn btn-default" type="button">7</button>
              <button onclick="modifyExpression('8')" class="btn btn-default" type="button">8</button>
              <button onclick="modifyExpression('9')" class="btn btn-default" type="button">9</button>
            </div>
          </div>
          <div class="row clearfix">
            <div class="btn-group">
              <button onclick="modifyExpression('-')" class="btn btn-default" type="button">-</button>
              <button onclick="modifyExpression('<=')" class="btn btn-default" type="button"><=</button>
              <button onclick="modifyExpression('>=')" class="btn btn-default" type="button">>=</button>
              <button onclick="modifyExpression('4')" class="btn btn-default" type="button">4</button>
              <button onclick="modifyExpression('5')" class="btn btn-default" type="button">5</button>
              <button onclick="modifyExpression('6')" class="btn btn-default" type="button">6</button>
            </div>
          </div>
          <div class="row clearfix">
            <div class="btn-group">
              <button onclick="modifyExpression('*')" class="btn btn-default" type="button">x</button>
              <button onclick="modifyExpression('=')" class="btn btn-default" type="button">=</button>
              <button onclick="modifyExpression('<>')" class="btn btn-default" type="button"><></button>
              <button onclick="modifyExpression('1')" class="btn btn-default" type="button">1</button>
              <button onclick="modifyExpression('2')" class="btn btn-default" type="button">2</button>
              <button onclick="modifyExpression('3')" class="btn btn-default" type="button">3</button>
            </div>
          </div>
          <div class="row clearfix">
            <div class="btn-group">
              <button onclick="modifyExpression('%')" class="btn btn-default" type="button">%</button>
              <button onclick="modifyExpression('&')" class="btn btn-default" type="button">&</button>
              <button onclick="modifyExpression('|')" class="btn btn-default" type="button">|</button>
              <button onclick="modifyExpression('0')" class="btn btn-default" type="button">0</button>
              <button onclick="modifyExpression('.')" class="btn btn-default" type="button">.</button>
            </div>
          </div>
          <div class="row clearfix">
            <div class="btn-group">
              <button onclick="modifyExpression('xy')" class="btn btn-default" type="button">xy</button>
              <button onclick="modifyExpression('(')" class="btn btn-default" type="button">(</button>
              <button onclick="modifyExpression(')')" class="btn btn-default" type="button">)</button>
              <button class="btn btn-default" type="button">delete</button>
            </div>
          </div>
        </div>
        <div class="col-md-6 column">
          <div class="row clearfix">
            <div class="btn-group">
              <button onclick="modifyExpression('abs(?)')" class="btn btn-default" type="button">abs(x)</button>
              <button onclick="modifyExpression('cos(?)')" class="btn btn-default" type="button">cos(x)</button>
            </div>
          </div>
          <div class="row clearfix">
            <div class="btn-group">
              <button onclick="modifyExpression('sin(?)')" class="btn btn-default" type="button">sin(x)</button>
              <button onclick="modifyExpression('tan(?)')" class="btn btn-default" type="button">tan(x)</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row spacer">
      <div class="span4">.</div>
    </div>
    <!-- Columns are always 50% wide, on mobile and desktop -->
    <div class="row">
      <div class="col-xs-6">
        <div id="formularCommitButton" class="col-md-6 column">
          <button type="button" class="btn btn-default">commit</button>
        </div>
      </div>
      <div class="col-xs-6">
        <div id="formularCancelButton" class="col-md-6 column">
          <button type="button" class="btn btn-default">cancel</button>
        </div>
      </div>
    </div>

  </body>
</html>