<!DOCTYPE html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="stylesheets/transfer_layout.css" />
<!--<link rel="stylesheet" type="text/css" href="stylesheets/14423.css" />-->
<title>Page Title</title>
<meta name="description" content="Write some words to describe your html page">
</head>
<body>
<div class="blended_grid">
    <div class="leftTopColumn">
    <input type="button" id="saveFormYes" value="Submit" /> 
            <input type="button" id="saveFormNo" value="Cancel" />
    </div>
    <div class="topBanner">
    <input type="button" id="saveFormYes" value="Submit" /> 
            <input type="button" id="saveFormNo" value="Cancel" />
    </div>
    <div class="leftBottomBanner">
    <input type="button" id="saveFormYes" value="Submit" /> 
            <input type="button" id="saveFormNo" value="Cancel" />
    </div>
    <div class="leftContent">
    <input type="button" id="saveFormYes" value="Submit" /> 
            <input type="button" id="saveFormNo" value="Cancel" />
    </div>
    <div class="rightContent">
    <input type="button" id="saveFormYes" value="Submit" /> 
            <input type="button" id="saveFormNo" value="Cancel" />
    </div>
    <div class="bottomBanner">
    <input type="button" id="saveFormYes" value="Submit" /> 
            <input type="button" id="saveFormNo" value="Cancel" />
    </div>
</div>
</body>
</html>
